.recipe-form {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .input-img-container {
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    // margin-top: 1rem;
    max-height: 25%;
    height: 25%;
    background-color: rgb(55, 53, 53);
    background-size: cover;
    align-items: center;

    .input-name-recipe {
      width: fit-content;
      height: fit-content;
    }
    .input-recipe-form {
      margin: 0 auto;
      height: 10%;
    }
  }

  .recipe-form-body {
    display: flex;
    justify-content: space-around;

    .ingredient-list-form-container {
      border: thin solid black;
      border-radius: 1rem;
      padding: 1.3rem;
      width: 35%;
      height: 25rem;
      overflow-y: scroll;
      .ingredient-list-form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.7rem;
        margin-top: 1rem;

        .checkbox-container {
          display: flex;
          gap: 0.2rem;
        }
      }

      .add-ingredient-form {
        display: flex;
        flex-direction: column;
      }
    }

    .recipe-steps-container {
      display: flex;
      flex-direction: column;
      width: 40%;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
