.drop-down-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border: 1px solid black;
  padding: 12px;
  border-radius: 0.3rem;
  cursor: pointer;
  .drop-down {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 1rem 0;
    .list-name {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.3rem;
    }
  }

  .list-items {
    display: none;
    // transform: 3s linear 1s slidein;
    // transition: all 1000ms ease-in-out;
    height: 0;
    // transform: translateY(-100%);
    transition: all 1s ease-in-out;
    &.drop-down-display {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      min-height: 150px;
      height: fit-content;
      width: 100%;
      // transform: translateY(0);
      // animation-name: dropDown;
      // animation-duration: 1000ms;
      // animation-iteration-count: 1;
    }
  }

  .footer-drop-down {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 8px;
    width: 100%;
    .pagination {
      display: flex;
      gap: 8px;
      .pagination-button {
        background-color: white;
      }
      .btn-pagination-selected {
        background-color: black;
        color: white;
      }
      .btn-pagination-not-selected {
      }
    }
    .drop-down-filter {
      width: 150px;
    }
  }

  @keyframes dropDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  .drop-down-display:active {
    animation-name: dropDown;
    animation-duration: 1sec;
    animation-iteration-count: infinite;
    animation: dropDown 1sec ease-in-out 0 1;
    // transform: rotate(100deg);
    // transition-duration: 1sec;
  }
  .drop-down-hide {
    animation: closeDropDown 1sec ease-in-out 0 infinite;
  }

  @keyframes closeDropDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
}
