.list-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .list-creation {
    width: 80vw;
    .input-list-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;

      .input-name-list {
        margin-left: 10%;
      }

      .input-list-form {
        margin: 0 auto;
      }
    }

    .list-validation-container {
      width: 100vw;
      height: 100vh;
    }

    .recipe-list {
      display: flex;
      flex-flow: row wrap;
      gap: 1rem;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 600px) {
  .list-form {
    .list-validation-container {
      width: 100vw;
      height: 100vh;
    }
  }
}
