.ingredient-detail-container {
  position: relative;
  // height: 20px;
  .ingredient-detail {
    display: flex;
    align-items: flex-end;
    gap: 6px;
    height: 20px;

    .ingredient-name {
    }

    .ingredient-quantity {
      // width: 3rem;
      // border: 1px solid black;
      // padding: 1px;
      width: 52px;
      text-align: center;
    }
    .ingredient-quantity-input {
      width: 3rem;
      text-align: center;
      padding: 0;
      height: 16px;
    }

    .display {
      display: initial;
    }

    .no-display {
      display: none;
    }
  }

  .disable {
    color: red;
  }

  .not-diable {
    color: initial;
  }

  .line-through {
    border: 1px solid black;
    width: 100%;
    position: absolute;
    top: 10px;
  }
}
