.panel-switcher {
  width: 100%;
  overflow: hidden;
  .panels {
    width: 200vw;
    display: flex;
    flex-direction: row;
    transition: all 100ms ease-in-out;
    transform: translateX(0);
    // height: 17rem;
    &.open {
      // height: auto;
      transform: translateX(-50%);
    }
    .panel {
      display: flex;
      width: 100vw;
    }
  }
}
